# dependencies
/node_modules

# Build output
dist/
build/
out/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Environment variables
.env

# Logs
*.log
npm-debug.log*
